        <section>
            <div class="notice_img">
                <h2>공지사항</h2>
            </div>
        </section>
        <section class="notice_txt">
            <h1><%= result[0].title%>

                
                <em><pre><%= result[0].create_time%></pre></em>
            </h1> 
                <div>
                    <pre><%= result[0].content%></pre>
                </div>
        </section>
        <section>
            <input type="button" onclick="javascript:location.href='/updateMemo/<%=result[0].id%>'" value="수정">
            <input type="button" onclick="javascript:location.href='/deletenoti/<%=result[0].id%>'" value="삭제">
        </section>
        <section class="btn_list">
         <div onclick="javascript:location.href='/noti'" value="목록으로">목록으로</div>

        </section>

