<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>공지 수정</h1>
    <% if(typeof errs !=='undefined'){%>
    <% errs.forEach(()=>{%>
        <h3><%=err.param%> : <%=err.msg%></h3>
    <%})%>
    <%}%>
    <form method="POST" action="/updateMemo">
        <input type="hidden" name="id" value="<%=row.id%>">
        <textarea name="content">
            <%=row.content%>
        </textarea>
        <textarea name="content2">
            <%=row.title%>
        </textarea>
        <input type="submit" value="수정">
        <input type="button" value="돌아가기" onclick="javascript:location.href='/'">
    </form>
</body>
</html>